body{
    font-family: Arial, sans-serif;
    background-image: url(https://i.redd.it/4k-wallpaper-sports-cars-on-track-v0-3kgox8x929sa1.jpg?width=3840&format=pjpg&auto=webp&s=3431552ecce4b0d74959656baee479e6b89eb4a9);
    background-position:center;
    background-size:cover;
    background-repeat:repeat;
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    color: white;
}

.login-form {
    background-color: #493f3f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(0, 174, 255);
    width: 300px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
}