body{
    font-family: Arial, sans-serif;
    background-image: url(https://wallscloud.net/img/resize/1920/1080/MM/2016-12-08-white-bmw-m3-e92-front-B8ZX.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:repeat;
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    color: white;
}

.login-form {
    background-color: #493f3f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(0, 174, 255);
    width: 300px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
}